<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <div class='container'>
            <h1>Nome do site</h1>
            <nav>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class='container'>
            <section>
                <h2>texto h2</h2>
                <p>paragrafo</p>
            </section>
            <section>
                <h3>Nossos Serviços</h3>
                <div class="services">
                    <div class="service-item">
                        <h4>Serviço 1</h4>
                        <p>Descrição do serviço 1</p>
                    </div>
                    <div class="service-item">
                        <h4>Serviço 2</h4>
                        <p>Descrição do serviço 2</p>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Nome do Site. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>